<h1>Stupid coaching</h1>
<p class="border-left py-3 pl-3" style="border-width: 3px !important;"><em>You: </em>"<%= @question %>"</p>
<p class="bg-light py-3 border-left pl-3" style="border-width: 3px !important;"><em>Your coach: </em>"<%= @answer %>"</p>
<%= link_to 'Ask a new question', ask_path %>
